div.home {
  position: relative;
  width: 1366px;
  height: auto;
  z-index: 2;
  background-color: #ffe3ac;
}

div.homecontent > h2 {
  width: 340px;
  height: 80px;
  margin-top: 63.25px;
  margin-left: 538.9px;
  font-family: "Komika Axis";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 80px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #000000;
}

div.homecontent > h1 {
  width: 490px;
  height: 80px;
  margin-left: 469.34px;
  margin-top: 16px;
  font-family: "Komika Axis";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 80px;
  /* identical to box height */
  letter-spacing: 0.05em;
  background: linear-gradient(
    90.3deg,
    #ff0000 0.26%,
    #ffa800 40.7%,
    #ffd600 73.88%,
    #ff3333 99.81%
  );
  //-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  //text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

div.homecontent > h4 {
  width: 498px;
  height: 23px;
  margin-left: 458.04px;
  margin-top: 10px;
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: #000000;
}

div.homecontent > img.clown1 {
  width: 176px;
  height: 196px;
  margin-top: -140.5px;
  margin-left: 1055.65px;
  z-index: 1;
}

.searchbar {
  width: 725px;
  height: 56px;
  margin-left: 355.27px;
  margin-top: 0px;
  background: transparent;
  border: 5px solid #000000;
  border-radius: 57px;
}

.location {
  position: absolute;
  width: 22px;
  height: 28px;
  left: 375.83px;
  top: 468px;
}

.searchbar::placeholder {
  width: 134px;
  height: 16px;
  padding-left: 64.91px;
  //text-indent: 64.91px;
  padding-top: 20px;
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  color: #000000;
}

.searchbutton {
  background: transparent;
  border: none;
}

.searchbutton > .arr {
  position: absolute;
  width: 48px;
  height: 45.6px;
  z-index: 0;
  top: 460px;
  left: 1030.979px;
}

.searchbutton > .arrshad {
  position: absolute;
  width: 48px;
  height: 48px;
  z-index: -1;
  top: 460.17px;
  left: 1027.749px;
}

div.home > img.clown2 {
  width: 589.26px;
  height: 567.11px;
  margin-left: -20px;
  margin-top: -100px;
}

img.ell1 {
  position: absolute;
  width: 13.44px;
  height: 13.44px;
  left: 485.39px;
  top: 708.67px;
}

img.ell2 {
  position: absolute;
  width: 23.77px;
  height: 23.77px;
  left: 525.39px;
  top: 680.67px;
}

img.vec1 {
  position: absolute;
  width: 171.51px;
  height: 145.35px;
  left: 580.96px;
  top: 585.51px;
  border-radius: 39px;
}

img.laugh {
  position: absolute;
  width: 152.14px;
  height: 60px;
  left: 587.39px;
  top: 626.26px;
  transform: rotate(-15.96deg);
}
